header {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  border-bottom: $border_default;
  h1 {
    font-size: 34px;
  }
  .mode_button {
    padding: 5px;
    width: 150px;
    color: inherit;
    font-weight: 600;
    vertical-align: middle;
    border: $border_default;
    border-radius: 5px;
    background-color: inherit;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      box-shadow: $shadow_default;
    }
    &::before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../img/dark_mode.svg);
    }
  }
  .dark_mode {
    &::before {
      background-image: url(../img/white_mode.svg);
    }
  }
}
